<html>
	<head>
		<title>Home</title>
		
		<style>
			body {
				background-image: url({{url_for('static',filename='sky.jpg')}}) }
				
			h1 {
				color: violet; }
			h2 {
				color: cyan;}
		</style>
	</head>
	
	<body>
		<h1 align="center">Welcome to Nuage BizTech</h1>
		<h2 align="center">Following a RESTfull API to be used in an Electronic Store
		    To manage the inventory and emplooyes details.</h2>
		
		<h2 align="center">Please select one of the following option :</h2>
		
		
		<h3 align="center"><a style="color:yellow" href = "\addemploye">Add Employee</a></h3></li>
		<h3 align="center"><a style="color:yellow" href = "\delemploye">Delete Employee</a></h3></li>
		<h3 align="center"><a style="color:yellow" href = "\upemploye">Update Employee</a></h3></li>
		<h3 align="center"><a style="color:yellow" href = "\login">Employee Login</a></h3></li>
		<h3 align="center"><a style="color:yellow" href = "\addelectronic">Add Electronic Items</a></h3></li>
		<h3 align="center"><a style="color:yellow" href = "\upstock">Update Stock</a></h3></li>
		<h3 align="center"><a style="color:yellow" href = "\stock">View Electronic Item with stock status</a></h3></li>
		
		
	</body>
<html>